/**********************TAG SELECTORS************************/
/**Page widths
- Mobile: 375px
- Desktop: 1440px
**/

body {
  max-width: 1440px;
  font-size: 18px;
  margin: 0;

}
h1 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
}
h3 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/**********************CLASS SELECTORS************************/
.background {
  background-image: url(../images/bg-hero-desktop.svg);
  background-size: auto;
}
.logo-black {
padding-right: 60%;
padding-left: 50px;
}

.container2 {
display: inline-block;
padding: 0 50px 100px 50px;
}
.build {
max-width: 400px;

}
.resize-img {
max-width: 500px;
position: absolute;
left: 50%;
top: 10%;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
/*drop-shadow on box*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.container4 {
  display: flex;
  flex-wrap: wrap;

}
.middle-imgs {
  max-width: 20%;
}

.grow-box {
  width: 80%;
  margin: 0 0 0 0;


}
.users-box {
  width: 200px;
  margin: 0 0 0 0;
  text-align: left;
}

  .container6 {
    background-color: gray;
    color: white;
    display: grid;
    grid-template-columns: 100px 50px 50px 50px;
  }

/**********************ID SELECTORS************************/


/**********************ATTRIBUTE SELECTORS************************/
/*test use of attribute selector*/
