/**********************TAG SELECTORS************************/
body {
  margin: 0
}

/**********************CLASS SELECTORS************************/
.container1 {
  background-image: url(../images/bg-hero-desktop.svg);
  background-size: auto;
}

.logo-black {
padding-right: 500px;
}
.resize-img {
max-width: 500px;
}

.container2 {
}
.container3 {
  display: flex;
  flex-wrap: wrap;
}

.grow-box {
  width: 65%
}

.container3 img {
  width: 200px;
}

/**********************ID SELECTORS************************/
